@charset "utf-8";
// 主要颜色
$colorDefault:    #575e65;
$colorPrimary:  #848e99;
// 其他颜色
$colorGray:     #afbdcc;
$colorBlue:    #2b9ef9;
$colorOrange: #e4b684;
// 功能性颜色
$colorLink:  	 #32a3fd;
$colorBorder: #e6ecf0;
$colorBackground:    #f5f8fa;
